*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    margin: 0;
    display: grid;
    grid-template-columns: 30% auto;
}

header,
aside,
main,
footer{
    padding: 16px;
    text-align: center;
}

header{
    background-color: dodgerblue;
    grid-template-rows: 60px;
}

aside{
    background-color: tomato;
    grid-template-rows: auto;

}

footer{
    background-color: yellow;
    grid-template-rows: 60px;
}

.navigation-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navigation-item{
    margin: 0 10px;
}

.navigation-item a{
    text-decoration: none;
    color: black;
}

.navigation-item a:hover, .navigation-item a:active{
    color: aquamarine;
}